{% extends "layout.html.twig" %}
{% set practitionerMenu = true %}

{% block title %}{{ practitioner.firstName }} {{ practitioner.name }}{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
<div class="well">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-5 control-label">Type</label>
            <div class="col-sm-7">
            <p class="form-control-static">{{ practitioner.type.name }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">Adresse</label>
            <div class="col-sm-7">
                <p class="form-control-static">{{ practitioner.address }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">Code postal</label>
            <div class="col-sm-7">
                <p class="form-control-static">{{ practitioner.zipCode }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">Ville</label>
            <div class="col-sm-7">
                <p class="form-control-static">{{ practitioner.city }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">Coefficient de notoriété</label>
            <div class="col-sm-7">
                <p class="form-control-static">{{ practitioner.notorietyCoefficient }}</p>
            </div>
        </div>
    </form>
</div>
{% endblock %}