{% extends "layout.html.twig" %}
{% set ProfilMenu = true %}

{% block title %} Modification du Profil {% endblock %}

{% block content %}
    <h2 class="text-center">{{ block('title') }}</h2>
    <div class="well">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label">Nom</label>
                <div class="col-sm-2">
                    <input name ="lastname" type="text" class="form-control" value="{{ visitor.last_name }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">prenom</label>
                <div class="col-sm-2">
                    <input name ="firstname" type="text" class="form-control" value="{{ visitor.first_name }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">adresse</label>
                <div class="col-sm-3">
                    <input name ="address" type="text" class="form-control" value="{{ visitor.address }}" >
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Code postal</label>
                <div class="col-sm-2">
                    <input name ="zipcode" type="text" class="form-control" value="{{ visitor.zip_code }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Ville</label>
                <div class="col-sm-2">
                    <input name ="city" type="text" class="form-control" value="{{ visitor.city }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Date d'embauche</label>
                <div class="col-sm-2">
                    <input name ="hiringdate" type="text" class="form-control" value="{{ visitor.hiring_date }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Nom d'utilisateur</label>
                <div class="col-sm-2">
                    <input name ="username" type="text" class="form-control" value="{{ visitor.username }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Mot de passe</label>
                <div class="col-sm-2">
                    <input name ="mdp" type="text" class="form-control" >
                </div>
                <div 
                    <button type="submit" id="visitor_save" name="visitor[save]" class="btn btn-primary">Mettre à jour</button>
                </div>            
            </div>
    </div>

</form>
</div>
{% endblock %}